/* styles/Carousel.module.scss */
.sliderContainer {
    width: 80%;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cardContent {
    flex: 1;
    padding-right: 20px;
}

.cardContent h3 {
    font-size: 24px;
    color: #333;
}

.cardContent p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
}

.cardContent button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardContent button:hover {
    background-color: #005bb5;
}

.cardImage {
    flex: 1;
}
