.carouselContainer {
    position: relative; // Contenedor relativo para los elementos absolutos
    width: 100%; // Ancho completo del contenedor
    height: auto; // Altura automática basada en el contenido
    margin-bottom: 50px; // Espacio debajo del carrusel

    .slick-slider {
        position: relative;
    }

    .slick-list,
    .slick-track {
        position: relative;
        display: block;
        height: auto; // Altura automática basada en el contenido
    }

    .slick-slide > div {
        height: auto; // Asegúrate de que el contenido de cada slide defina la altura
        margin: auto; // Centrar el contenido si es más pequeño que el contenedor
    }

    .slick-slide img {
        display: block; // Evita que las imágenes sean en línea y rompan el diseño
        width: 100%; // Las imágenes deben llenar el ancho del slide
        height: auto; // La altura de la imagen debe ser automática para mantener la relación de aspecto
    }
}

.nextArrow,
.prevArrow {
    position: absolute; // Posicionamiento absoluto para mover libremente
    top: 50%; // Centrado vertical
    transform: translateY(-50%); // Centrar exactamente en el medio
    z-index: 10; // Encima de otros elementos

    &::before { // Asegurarse de que el pseudo-elemento también tenga el tamaño adecuado
        font-size: 30px; // Tamaño de los íconos de las flechas
    }

    &:hover,
    &:focus {
        color: #ccc; // Color al pasar el mouse o enfocar (opcional)
    }
}

.nextArrow {
    right: 10px; // Espacio del lado derecho del contenedor
}

.prevArrow {
    left: 10px; // Espacio del lado izquierdo del contenedor
}

// Ajustar los puntos de navegación para que queden dentro del contenedor del carrusel
.slick-dots {
    position: absolute; // Posicionamiento absoluto dentro del carrusel
    bottom: -25px; // Colocar justo debajo del slide
    left: 50%; // Centrado horizontal
    transform: translateX(-50%); // Centrar exactamente
    padding: 0; // Eliminar padding si lo hay

    li {
        display: inline-block; // Para alinear los puntos horizontalmente
        margin: 0 5px; // Espaciado entre puntos

        button {
            cursor: pointer; // Cambiar el cursor para indicar interactividad
            background: #fff; // Color de fondo de los puntos
            border: none; // Sin bordes
            border-radius: 50%; // Redondear los puntos
            width: 15px; // Tamaño de los puntos
            height: 15px; // Altura de los puntos
            &:hover,
            &:focus {
                background: #ddd; // Color al pasar el mouse o enfocar
            }
        }

        &.slick-active button {
            background: #888; // Color del punto activo
        }
    }
}
