.carouselContainer {
    position: relative;
    width: 100%;
    height: 100vh; // Asegúrate de que el carrusel ocupe toda la altura de la pantalla
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #333;
    z-index: 10;
    border-radius: 50%;
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  
    &.left {
      left: 32px;
    }
  
    &.right {
      right: 32px;
    }
  }
  
  // Estilos para transiciones de opacidad entre cambios de slide
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }